<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.example.agentos.permission.BIND_AGENT_PLUGIN" />
    <application android:name=".NotesApplication" android:theme="@android:style/Theme.DeviceDefault.Light" android:label="@string/app_name">
        <activity android:name=".MainActivity" android:exported="true"><intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter></activity>
        <service android:name=".NotesPluginService" android:exported="true" android:permission="com.example.agentos.permission.BIND_AGENT_PLUGIN">
            <intent-filter><action android:name="agentos.intent.action.PLUGIN_ENDPOINT" /></intent-filter>
            <meta-data android:name="agentos.plugin.id" android:value="com.example.agenriod.notes" />
        </service>
    </application>
</manifest>
