<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.agentos.probe" android:versionCode="1" android:versionName="1">
    <uses-sdk android:minSdkVersion="35" android:targetSdkVersion="35" />
    <application android:label="AgentOS Discovery Probe" android:allowBackup="false">
        <activity android:name=".ProbeActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name=".ProbeService" android:exported="true"
            android:permission="com.example.agentos.permission.BIND_AGENT_PLUGIN">
            <intent-filter>
                <action android:name="agentos.intent.action.PLUGIN_ENDPOINT" />
            </intent-filter>
            <meta-data android:name="agentos.plugin.id" android:value="com.example.agentos.probe" />
        </service>
    </application>
</manifest>
