<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Material.Light.NoActionBar">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name=".SystemPluginEndpointService" android:exported="true"
            android:permission="com.example.agentos.permission.BIND_AGENT_PLUGIN">
            <intent-filter><action android:name="agentos.intent.action.PLUGIN_ENDPOINT" /></intent-filter>
            <meta-data android:name="agentos.plugin.id" android:value="com.example.agentos.demo.calendar" />
            <meta-data android:name="agentos.plugin.descriptor" android:resource="@raw/agentos_plugin" />
        </service>
    </application>
</manifest>
